PORT=3000
SHOPIFY_WEBHOOK_SECRET=your_shopify_app_client_secret
EMAIL_MARKETING_ENDPOINT=https://webhook.site/your-endpoint
SHOPIFY_ADMIN_ACCESS_TOKEN=
SHOPIFY_SHOP_DOMAIN=healthy-america-assessment.myshopify.com
SHOPIFY_ADMIN_API_VERSION=2026-04
LOCAL_WEBHOOK_URL=http://127.0.0.1:3000/webhooks/orders-paid
